<h3>Top 5 locations</h3>
<div class="container">
  <mat-card *ngFor="let card of homepageCards" class="card">
    <mat-card-title>{{card.name}}</mat-card-title>
    <mat-card-content>
      <p>Temperature: {{card.airTemperature}} °C</p>
      <img src='{{ "assets/images/" + card.conditionCode + ".svg" }}'>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="viewDetails(card.id)" aria-label="Example icon-button with a eye icon" color="primary" mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
